div {
    color: green;
    background-color: pink;
    width: 250px;
    height: 100px;
}
p {
    color: blue;
    background-color: yellow;
    width: 100px;
    height: 100px;
}
.second {
    background-color: black;
}